body {
  font-family: "Mitr", sans-serif;
  text-transform: capitalize;
  line-height: 33px;
  overflow: hidden;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.column {
  width: 25%;
  display: block;
  margin-bottom: 20px;
  float: left;
}
.btn {
  font-size: 14px;
  position: relative;
  top: 297px;
  left: 250px;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  border: 0.5px solid #c1c9ce;
  transition: all 150ms ease-in-out;
  width: 25%;
}
.card {
  height: 555px;
  position: relative;
  top: -250px;
  width: 370px;
}

.city {
  position: relative;
  top: 333px;
  left: 150px;
  font-family: "Mitr", sans-serif;
}
#city {
  width: 60%;
  display: block;
  position: relative;
  top: 333px;
  left: 15px;
}
.date {
  font-weight: 300;
  font-size: 35px;
  position: relative;
  top: 300px;
  left: 85px;
}

.city-name {
  font-size: 55px;
  font-weight: 100;
  position: relative;
  top: 115px;
  left: 85px;
}
.temp {
  font-size: 70px;
  position: relative;
  top: 95px;
  left: 175px;
  font-weight: 200;
}
.fahrenheit {
  position: relative;
  top: 25px;
  left: 265px;
  border: transparent;
  background-color: transparent;
  text-decoration: none;
}
.celsius {
  position: relative;
  top: 25px;
  left: 265px;
  border: transparent;
  background-color: transparent;
  text-decoration: none;
}
.weather-condition {
  font-weight: 100;
  font-size: 30px;
  position: relative;
  top: 65px;
  left: 155px;
}

.weather-description {
  position: relative;
  top: 30px;
  left: 50px;
  font-weight: 200;
  font-size: 20px;
  font-weight: 400;
}
.two {
  height: 555px;
  position: relative;
  top: -492px;
  left: 600px;
}
.three {
  height: 175px;
  position: relative;
  top: -895px;
  left: 1150px;
  width: 250px;
}
.four {
  height: 175px;
  position: relative;
  top: -1280px;
  left: 1150px;
  width: 250px;
}
.five {
  height: 175px;
  position: relative;
  top: -900px;
  left: 745px;
  width: 250px;
}
.HighTemp {
  text-align: center;
}
.LowTemp {
  text-align: center;
}

.link {
  position: relative;
  top: 710px;
  text-align: center;
}
a {
  text-decoration: none;
}
.forecast {
  position: relative;
  top: 250px;
  text-align: center;
}
